
h1,h2,h3,h4,h5,h6{
	font-family: times new roman;
	font-size: 48px;
	color: red;
	text-align: center;
}

body{
	background-color: #E8E8E8;
}

#logo1 {
	display: block;
	width: 150px;
	height: auto;
	margin: auto;
}

.kopf {
	display: flex;
}

.verknuepfungen {
	display: flex;
	gap: 16px;
	justify-content: center;
	align-items: center;
}

.verknuepfungen a {
	padding: 20px 40px;
	text-decoration: none;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #007bff;
	color: white;
	cursor: pointer;
}

.verknuepfungen a:hover {
	background-color: #0056b3;
}

.box {
	display: flex;
	gap: 16px;
	justify-content: center;
	align-items: center;
}

.box1,.box2,.box3 {
	padding: 20px 40px;
	text-decoration: none;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #007bff;
	color: white;
	cursor: pointer;
}

.box1:hover {
	background-color: #0056b3;
}
.box2:hover {
	background-color: #0056b3;
}
.box3:hover {
	background-color: #0056b3;
}

.button {
	padding: 15px 30px;
}


html, body {
	height: 100%;
	margin: 0;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #333;
	color: white;
	padding: 10px;
	text-align: center;
	z-index: 1000;
}

body {
	margin-top: 120px;
}

main {
	padding: 40px;
	min-height: calc(100vh - 160px);
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #333;
	color: white;
	padding: 10px;
	text-align: center;
}



.toggle-container {
    display: flex;
    align-items: center; 
    gap: 10px;           
}

.toggle-text {
    font-weight: bold;
    font-size: 16px;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


.slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #ccc;
    transition: .4s; 
    border-radius: 34px; 
}


.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%; 
}


input:checked + .slider {
    background-color: #3498db;
}


input:checked + .slider:before {
    transform: translateX(26px);
}

