
h1,h2,h3,h4,h5,h6{
	font-family: times new roman;
	font-size: 48px;
	color: red;
	text-align: center;
}

#logo1 {
	display: block;
	width: 150px;
	height: auto;
	margin-right: 50px;
}

#plakat-film {
	display: block;
	width: 300px;
	height: auto;
	margin: auto;
}

.kopf {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.verknuepfungen {
	display: flex;
	gap: 16px;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.verknuepfungen a {
	padding: 20px 40px;
	text-decoration: none;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #007bff;
	color: white;
	cursor: pointer;
}

.verknuepfungen a:hover {
	background-color: #0056b3;
}

.aktuelles {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 28px;
	font-size: 40px;
}

html, body {
	height: 100%;
	margin: 0;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #333;
	color: white;
	padding: 10px;
	text-align: center;
	z-index: 1000;
}

body {
	margin-top: 120px;
	background-color: #E8E8E8;
}

main {
	padding: 40px;
	min-height: calc(100vh - 160px);
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #333;
	color: white;
	padding: 10px;
	text-align: center;
}



